<!DOCTYPE html>
<html>
<head>
  <title>Gist</title>
  	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>  
  	<%= stylesheet_link_tag "style", :media => "all" %>  
<link href='http://fonts.googleapis.com/css?family=Average|Crete+Round' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
		<div class="footer">
			<p>
				Check out the github repo here</br>
				Goroya.com by William Porter
			</p>
		</div>	
	</div>
    <%= javascript_include_tag 'editor' -%>
</body>
</html>
