<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Goroya | Blogging for Hackers'%> - Goroya.com</title>
  	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>  
  	<%= stylesheet_link_tag "style", :media => "all" %>  
	<link href='http://fonts.googleapis.com/css?family=Average|Crete+Round' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33574804-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
</head>
<body>
	<div class="container">
		<%= yield %>
		<div class="footer">
			<p>
				Check out the <a href="https://github.com/dawilster/Goroya">github repo</a> and <a href="https://github.com/dawilster/Goroya/issues">post issues there</a></br>
				Goroya.com by William Porter
			</p>
		</div>	
	</div>
    <%= javascript_include_tag 'editor' -%>
</body>
</html>
